@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here


.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.6);
    background-color: aquamarine;
    transition-delay:400ms;
    transition-property: box-shadow;
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}

#condon{
    margin-top: 5rem;
    color: white;
}

@include media-breakpoint-down(lg) {
    #condon{
        height: 69rem;
    }

}

@include media-breakpoint-up(lg) {
    #condon{
        height: 36rem;
    }

}